* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #303032;
}

main {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
  padding: 60px 0;
}

.text--medium {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ecf0f1;
}

.cards {
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-column: 2 / span 12;
  grid-gap: 40px;

  .card {
    display: flex;
    flex-direction: column;
    grid-column-end: span 4;
    background-color: #39393b;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    &:hover {
      transform: translateY(-7px);
    }

    &__image-container {
      width: 100%;
      padding-top: 56.25%; // determined by aspect ration 9/16 = .5625 * 100 = 56.25%
      overflow: hidden;
      position: relative;
    }

    &__image-container img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__content {
      padding: 20px;
    }
    &__title {
      margin-bottom: 20px;
    }

    &__info {
      display: flex;
      align-self: end;
      align-items: center;
    }

    &__price {
      margin-left: auto;
      padding: 5px 20px;
      background-color: #30301b;
      border-radius: 20px;
    }
  }

