//$primary-color: #444;
//$primary-color: rgb(53, 4, 4);

$primary-color: #2f4858;
//$primary-color: #002839;
$secondary-color: #d27100;
$secondary-color-2: #deffe3;
$tertiary-color: #439db2;

$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.95;

$default-fontsize: 1.6rem;

$mb-small: 2rem;
$mb-medium: 4rem;

.mb-small {
  margin-bottom: 2rem;
}
.mb-medium {
  margin-bottom: 4rem;
}

.mb-large {
  margin-bottom: 6rem;
}

.mt-small {
  margin-bottom: 2rem;
}
.mt-medium {
  margin-bottom: 4rem;
}

.mt-large {
  margin-bottom: 6rem;
}
